# .gitignore
*.exe
*.obj
*.dll
*.o
*.a
*.bat
/CMakeFiles
CMakeCache.txt
cmake_install.cmake
build/
utils/
data/
models/
__pycache__/
*.pyc
*.csv
*.npy
.vscode/
*.pdb
*.ilk

# Ignore third-party libraries
libs/cnpy/
lib/

# Python
__pycache__/
*.pyc

# misc
*.log
*.out